footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    min-height: 22vh;
    background-color: #080a3a;
    flex-basis: auto;
}

.label_bottom {
    min-width: 24vw;
    height: 3vh;
    font-family: 'Mada';
    font-size: 15px;
    line-height: 1.33;
    color: #ffffff;
}

.form-group_main {
    max-width: 22vw;
}

.form-control_footer {
    border: 1px solid white;
    background: #080a3a !important;
}

footer p {
    font-family: 'Mada';
    font-size: 16px;
    color: #ffffff;
}

footer a {
    color: white;
    text-decoration: underline;
}

.footer_forms {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.footer_forms div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 9vw;
}
