footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 22vh;
    background-color: #080a3a;
}

.label_bottom {
    width: 24vw;
    height: 3vh;
    font-family: 'Mada';
    font-size: 15px;
    line-height: 1.33;
    color: #ffffff;
}

.form-group {
    width: 25vw !important;
}

.form-control-lg {
    border: 1px solid white;
    background: #080a3a !important;
}

footer p {
    font-family: 'Mada';
    font-size: 16px;
    color: #ffffff;
}

footer a {
    color: white;
    text-decoration: underline;
}

.footer_forms {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 20vw;
}

.footer_forms div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}
