nav {
  display: flex !important;
  width: 100vw;
}

.navbar {
  background: white !important;
}

.navbar-collapse-position {
  display: flex;
  justify-content: space-around !important;
}

.center {
  width: 30%;
  display: flex;
  justify-content: space-around;
}

.Ce-quil-y-a-dedans,
.A-propos-de-lauteur,
.Rester-inform {
  font-family: "Mada";
  font-size: 20px;
  font-weight: 600;
  color: #15196a !important;
  transition: 0.5s;
}

.hashtag {
  width: 52px;
  height: 63px;
  font-family: "Open Sans";
  font-size: 60px;
  color: #15196a;
  font-weight: bold;
}

.Ce-quil-y-a-dedans:hover,
.A-propos-de-lauteur:hover,
.Rester-inform:hover {
  /* text-decoration: underline; */
  color: #f5a623 !important;
  transition: 0.5s;
}
