.navbar {
  background: white !important;
}

nav {
  display: flex !important;
  justify-content: space-around !important;
}

.navbar-collapse-position {
  display: flex;
  justify-content: space-around !important;
}

.center {
  width: 800px;
  display: flex;
  justify-content: space-around;
}

.Ce-quil-y-a-dedans {
  width: 180px;
}

.Ce-quil-y-a-dedans,
.A-propos-de-lauteur,
.Rester-inform,
.FR {
  height: 38px;
  font-family: "Mada";
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #15196a !important;
  transition: 0.5s;
}

.A-propos-de-lauteur {
  width: 195px;
}

.Rester-inform {
  width: 164px;
}

.FR {
  margin-right: 2vw;
  width: 23px;
  height: 31px;
}

.hashtag {
  margin-left: 2.5vw;
  width: 52px;
  height: 63px;
  font-family: "Open Sans";
  font-size: 60px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #15196a;
  font-weight: bold;
}

.bouton_up {
  margin-right: 2vw;
  margin-top: 1.2vh;
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.Ce-quil-y-a-dedans:hover,
.A-propos-de-lauteur:hover,
.Rester-inform:hover,
.FR:hover {
  /* text-decoration: underline; */
  color: #f5a623 !important;
  transition: 0.5s;
}
