.container_info_book {
  width: 100%;
  height: 782px;
  /* background: #f2f2f2; */
}

.container_ib_title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 65px;
}

.ib_title {
  width: 385px;
  height: 39px;
  font-size: 32px;
  font-family: "Open Sans";
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  /* line-height: 1; */
  letter-spacing: normal;
  color: #15196a;
}

.ib_montain_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 717px;
  width: 100vw;
}

.ib_left_container,
.ib_right_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 717px;
}

.ib_left_container {
  flex-direction: column;
}

.ib_blue_area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background: white; */
  height: 138px;
  width: 100%;
}

.ib_green_area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background: white; */
  height: 160px;
  width: 500px;
}

.ib_red_area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background: white; */
  height: 243px;
  width: 500px;
}

.ib_area_title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 33px;
}

.ib_blue_area .oval {
  margin-left: 1vw;
}

.oval {
  margin-bottom: 2.1vh;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.t_title_blue {
  width: 480px !important;
  padding-left: 1vw;
}

.blue {
  background-color: #0080ff;
}

.green {
  background-color: #008f02;
}

.color_area_title {
  width: 460px;
  height: 33px;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #15196a;
}

.color_area_paragraph {
  margin-left: 1.5vw;
  font-family: "Mada";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #15196a;
}

.blue_paragraph {
  width: 479px;
  height: 77px;
}

.green_paragraph {
  width: 478px;
  height: 100px;
}

.red_paragraph {
  width: 479px;
  height: 174px;
}
