.container_info_book {
    height: 90vh;
}

.container_ib_title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 6vh;
}

.ib_title {
    height: 3vh;
    font-size: 32px;
    font-family: 'Open Sans';
    font-weight: bold;
    color: #15196a;
}

.ib_montain_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 90%;
    width: 100%;
}

.ib_left_container,
.ib_right_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 672px;
}

.ib_left_container {
    /* border: 1px solid black; */
    justify-content: space-around;
    flex-direction: column;
}

/*  */

.ib_blue_area,
.ib_green_area,
.ib_red_area {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.ib_area_title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 4vh;
}

.ib_area_text {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 75%;
}

.ib_area_text div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.oval {
    margin-bottom: 1.2vh;
    margin-right: 1vw;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.blue {
    background-color: #0080ff;
}

.green {
    background-color: #008f02;
}
.red {
    background-color: #ee220d;
}

.color_area_title {
    height: 33px;
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    color: #15196a;
}

.color_area_paragraph {
    font-family: 'Mada';
    font-size: 16px;
    line-height: 1.5;
    color: #15196a;
}
