.container_no-bullshit_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    /* background: #f2f2f2; */
}

.container_bullshit_title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Open Sans';
    font-size: 32px;
    text-align: center;
    color: #15196a;
}

.bullshit_title {
    margin-top: 10vh;
    height: 3vh;
    font-size: 32px;
    font-family: 'Open Sans';
    font-weight: bold;
    color: #15196a;
}

.container_main_info_fg {
    margin-top: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.info_fg_left,
.info_fg_right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    flex-grow: 1;
}

.info_fg_left {
    background: white;
    align-items: flex-start;
}
.Illustratio-author,
.section_main_all_info {
    margin-left: 2.5vw;
}

.section_main_all_info {
    margin-top: 4vh;
    width: 22vw;
    height: 100%;
}

.info_author {
    width: 100%;
}

.info_title {
    width: 100%;
    font-family: 'Mada';
    font-size: 20px;
    font-weight: 600;
    color: #080a3a;
}

.info_paragraph {
    width: 19vw;
    font-family: 'Mada';
    font-size: 16px;
    color: #080a3a;
}

.info_network {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 8vw;
    height: 24px;
}
.info_paragraph_title {
    line-height: 0vh;
    text-decoration: underline;
}

.info_founder,
.info_cto,
.info_consultant,
.info_professor,
.info_speaker {
    width: 100%;
}

.info_founder,
.info_cto,
.info_consultant,
.info_professor,
.info_speaker {
    background: url('/img/Underligne.png');
    background-repeat: no-repeat;
    background-position: -1vw 2vh;
}
