* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 4960px;
  background: #ffffff;
  overflow-x: hidden;
}

.container_bottom_main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 203px;
  background-color: #080a3a;
}

.label_bottom {
  width: 330px;
  height: 19px;
  font-family: "Mada";
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #ffffff;
}
