* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 5500px;
  background: #ffffff;
  overflow-x: hidden;
}

.info_fg_right {
  justify-content: flex-start !important;
}

.rectangle_copy_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 527px;
  height: 286px;
  border-radius: 8px;
  background-color: rgba(21, 25, 106, 0.1);
}

.rectangle_text_copy_1 {
  width: 463px;
  height: 222px;
  font-family: "Mada";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #080a3a;
}

.rectangle_text_1 {
  width: 527px;
  height: 161px;
}

.rectangle_copy_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 527px;
  height: 286px;
  border-radius: 8px;
  background-color: rgba(21, 25, 106, 0.1);
}

.rectangle_text_copy_2 {
  width: 463px;
  height: 222px;
  font-family: "Mada";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #080a3a;
}

.rectangle_text_2 {
  width: 527px;
  height: 164px;
}

.rectangle_copy_3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 527px;
  height: 114px;
  border-radius: 8px;
  background-color: rgba(21, 25, 106, 0.1);
}

.rectangle_text_copy_3 {
  width: 463px;
  height: 50px;
  font-family: Mada;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #080a3a;
}

.rectangle_text_3 {
  width: 527px;
  height: 180px;
}
