* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 4960px;
  background: #ffffff;
  overflow-x: hidden;
}
