.container_main_menu {
  justify-content: space-around !important;
  flex-direction: column;
  height: 1500px;
  width: 100%;
  /* background: #f2f2f2; */
}

.container_row_menu {
  justify-content: space-around !important;
  height: 380px;
  width: 80%;
}

.area_red,
.area_green,
.area_blue {
  justify-content: space-around !important;
  flex-direction: column;
  width: 361px;
  height: 360px;
  opacity: 0.2;
  border-radius: 8px;
  border: solid 1.5px #15196a;
  transition: 0.5s;
}

.area_red {
  opacity: 1;
  border: solid 1.5px #f5a623;
}

.area_red:hover,
.area_green:hover,
.area_blue:hover {
  opacity: 1;
  transition: 0.5s;
  border: solid 1.5px #f5a623;
}

.menu_title {
  width: 361px;
  height: 34px;
  font-family: "Mada";
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #15196a;
}

ul {
  margin-left: 2vw;
  list-style: none;
}

ul li {
  font-family: "Mada";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #15196a;
}
.li-red::before {
  content: "•";

  color: #ee220d;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.li-green::before {
  content: "•";
  color: #008f02;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.li-blue::before {
  content: "•";
  color: #0080ff;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.rectangle_first_red {
  justify-content: space-around;
  flex-direction: row;
  width: 72.5vw;
  height: 451px;
  border-radius: 8px;
  box-shadow: 0 2px 15px 0 rgba(41, 40, 61, 0.1);
  border: solid 1px #f5a623;
  background-color: #ffffff;
}

.Illustration {
  width: 386px;
  height: 387px;
  object-fit: contain;
}

.rectangle_red div {
  display: flex;
  flex-direction: row;
}

.rectangle_red_title {
  width: 449px;
  height: 37px;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #15196a;
}
.rectangle_red_oval {
  margin-top: 1vh;
  margin-right: 1vw;
}

.rectangle_red_text {
  width: 422px;
  height: 248px;
  font-family: "Mada";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #15196a;
}
.rectangle_first_blue {
  justify-content: space-around;
  flex-direction: row;
  width: 72.5vw;
  height: 312px;
  border-radius: 8px;
  box-shadow: 0 2px 15px 0 rgba(41, 40, 61, 0.1);
  border: solid 1px #f5a623;
  background-color: #ffffff;
}

.Coming {
  width: 290px;
  height: 291px;
}
