@media (max-width: 980px) {
    body {
        width: 100%;
    }
    .container_main {
        width: 90%;
    }

    .navbar-toggler {
        border: none !important;
    }
    .container_foreword {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 120vh;
    }
    .ib_montain_container {
        flex-direction: column;
    }
    .container_info_book {
        min-height: 140vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
    .rectangle_first_red {
        flex-direction: column;
    }

    .rectangle_red {
        width: 90%;
    }
    .container_main_info_fg {
        flex-direction: column;
    }
    .section_main_all_info {
        width: 70%;
    }
    .info_fg_left {
        align-items: center;
    }
    .area_rectangle_quotes {
        flex-direction: column;
    }
    .quotes {
        align-self: center;
    }
    .Illustratio-author,
    .Illustration-mountains,
    .Illustration-header {
        width: 100%;
    }
    .container_row_menu {
        display: none;
    }
    footer {
        flex-direction: column-reverse;
        padding-top: 4vh;
        padding-bottom: 4vh;
    }
    footer p {
        text-align: center;
    }
    .form-group_main {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 100%;
    }
    .form-group {
        min-width: 80%;
    }
}
