.info_fg_right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.info_number_1 {
    max-width: 100%;
    /* height: 26vh; */
    min-height: 26vh;
}

.area_rectangle_quotes {
    display: flex;
    flex-direction: row;
}

.quotes {
    align-self: flex-start;
    margin-right: 1vw;
}

.rectangle_copy_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 11vh;
    border-radius: 8px;
    border: solid 2px #e6e6eb;
}

.rectangle_text_copy_1 {
    width: 90%;
    font-family: 'Mada';
    font-size: 16px;
    color: #080a3a;
}

.rectangle_text_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 13vh;
}

.Thierry_Gaillet,
.Thierry_Gaillet_travel,
.Maxime_Duprez,
.Maxime_Duprez_travel,
.Fabien_Grellier,
.Fabien_Grellier_travel {
    margin-left: 4vw;
}

.Thierry_Gaillet {
    font-family: 'Mada';
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #080a3a;
}

.Thierry_Gaillet_travel {
    margin-top: -1.5vh;
    font-family: 'Mada';
    font-size: 16px;
    text-align: center;
    color: #080a3a;
}

.info_number_2 {
    min-height: 45vh;
    width: 100%;
}

.rectangle_copy_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 29vh;
    width: 100%;
    border-radius: 8px;
    border: solid 2px #e6e6eb;
}

.rectangle_text_copy_2 {
    width: 90%;
    font-family: 'Mada';
    font-size: 16px;
    color: #080a3a;
}

.rectangle_text_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 13vh;
}

.Maxime_Duprez {
    font-family: 'Mada';
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #080a3a;
}

.Maxime_Duprez_travel {
    margin-top: -1.5vh;
    font-family: 'Mada';
    font-size: 16px;
    text-align: center;
    color: #080a3a;
}

.info_number_3 {
    min-height: 50vh;
    width: 100%;
}

.rectangle_copy_3 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 32vh;
    width: 100%;

    border-radius: 8px;
    border: solid 2px #e6e6eb;
}

.rectangle_text_copy_3 {
    width: 90%;
    font-family: 'Mada';
    font-size: 16px;
    color: #080a3a;
}

.rectangle_text_3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 13vh;
}

.Fabien_Grellier {
    font-family: 'Mada';
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #080a3a;
}

.Fabien_Grellier_travel {
    margin-top: -1.5vh;
    font-family: 'Mada';
    font-size: 16px;
    text-align: center;
    color: #080a3a;
}

.rectangle_main_movie {
    margin-top: 2vh;
    margin-left: 8vw;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.title_movie {
    font-family: 'Mada';
    font-size: 20px;
    font-weight: 600;
    color: #080a3a;
}

.video {
    width: 24px;
    height: 24px;
    object-fit: contain;
}
.area_movie {
    /* margin-top: 0.5vh; */
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    /* background: red; */
}

.Voir-la-vidéo {
    /* background: green; */
    margin-left: 1vw;
    margin-top: 2vh;
    font-family: 'Mada';
    text-decoration: underline;
    font-size: 16px;
    font-weight: 500;
    color: #f5a623;
}
