<footer class="l-footer u-inline-center-sm-down">
  <div class="container">
    <div class="d-flex justify-content-between flex-column flex-lg-row">
      <div class="justify-content-center flex-column d-flex">
        <p class="c-p u-white u-inline-center-lg-down">
          Illustrations by Johannes Pekonen - All Right Reserved © <br>
          Design by <a href="https://www.behance.net/aliceha" target="_blank" class="c-link">Alice Habay</a> <br>
          Integration by <a href="https://github.com/KevinJaffre" target="_blank" class="c-link">Kevin Jaffre</a> &amp; <a href="https://augustin.ribreau.co/" target="_blank" class="c-link">Augustin Ribreau</a>
        </p>
      </div>

      <img src="/assets/img/footer_elements.svg" class="c-img l-footer__ele u-margin-t-40-lg-down" alt="">

      <div class="justify-content-center flex-column d-flex u-inline-center-lg-down u-margin-t-40-lg-down">
      </div>
    </div>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/assets/js/app.js?{{site.time | date: '%s%N'}}" charset="utf-8"></script>
