<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/styles.css?{{site.time | date: '%s%N'}}">
  <title>{{ site.title }}</title>

  <link rel="shortcut icon" href="/assets/favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">

  <meta property="og:url" content="{{ site.url }}" />
  <meta property="og:title" content="{{ site.title }}" />
  <meta property="og:description" content="{{ site.description }}" />
  <meta property="og:image" content="{{ site.url }}/assets/og-img.png" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:url" content="{{ site.url }}" />
  <meta name="twitter:title" content="{{ site.title }}" />
  <meta name="twitter:description" content=" {{ site.description }}" />
  <meta name="twitter:image" content="{{ site.url }}/assets/og-img.png" />

  <meta name="keywords" content="" />
  <meta name="description" content="{{ site.description }}" />
</head>
