.c-link {
  color: inherit;
  text-decoration: underline;

  &:hover,
  &:focus {
    color: inherit;
  }

  &--no-underline {
    text-decoration: none;
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  &--yellow {
    color: $yellow10;

    &:hover,
    &:focus {
      color: $yellow10;
    }
  }

  &--icon-video {
    position: relative;
    display: block;
    padding-left: 40px;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      content: '';
      width: 24px;
      height: 24px;
      background-size: cover;
      background-image: url('/assets/img/video.svg');
    }
  }
}
