.c-link {
  color: inherit;
  text-decoration: underline;

  &:hover,
  &:focus {
    color: inherit;
  }

  &--no-underline {
    text-decoration: none;
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  &--yellow {
    color: $yellow10;

    &:hover,
    &:focus {
      color: $yellow10;
    }
  }
}
