<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/styles.css?{{site.time | date: '%s%N'}}">
  <title>{{ site.title }}</title>

  <link rel="shortcut icon" href="/assets/favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">

  <meta property="og:url" content="{{ site.url }}" />
  <meta property="og:title" content="{{ site.title }}" />
  <meta property="og:description" content="{{ site.description }}" />
  <meta property="og:image" content="{{ site.url }}/assets/og-img.png" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:url" content="{{ site.url }}" />
  <meta name="twitter:title" content="{{ site.title }}" />
  <meta name="twitter:description" content=" {{ site.description }}" />
  <meta name="twitter:image" content="{{ site.url }}/assets/og-img.png" />

  <meta name="keywords" content="" />
  <meta name="description" content="{{ site.description }}" />
</head>
<body>

  <header class="l-header">
    <nav>
      <a href="#summary" class="c-link c-link--no-underline u-large u-fweight-600 js-smooth-scroll">Sommaire</a>
      <a href="#no-bullshit" class="c-link c-link--no-underline u-large u-fweight-600 js-smooth-scroll">No bullshit ?</a>
    </nav>
  </header>

  <section class="container">
    <div class="row">
      <div class="col-md justify-content-center flex-column d-flex">
        <h1 class="c-h1 u-inline-center-sm-down">#NoBullshit Tech-Lead</h1>
        <p class="c-p u-margin-t-32 u-large u-fweight-600 u-inline-center-sm-down">
          60 principes pratiques fondamentaux,
          <br/>illustrés et applicables quotidiennement
          <br/>de la petite à la grande entreprise
          <br/>du développeur au CTO
          <br/>en passant par le tech-lead et l'architecte.
        </p>
        <p class="c-p u-small u-margin-t-48 u-inline-center-sm-down">
          Rester informé de la sortie du livre et de son avancée :
        </p>
        <!-- Begin Mailchimp Signup Form -->
          <div id="mc_embed_signup">
          <form action="https://fgribreau.us9.list-manage.com/subscribe/post?u=918b217b438b04154b124a79d&amp;id=db80d0af17" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
          <div class="mc-field-group">
              <input type="email" value="" name="EMAIL" class="c-form-control c-form-control--w280 u-margin-t-16 required email" placeholder="Votre e-mail" id="mce-EMAIL">
          </div>
          <div class="mc-field-group u-inline-center-lg-down">
            <div class="c-addon-container c-addon-container--rotate u-margin-t-16">
              <select name="ENTERPRISE" class="c-form-control c-form-control--w280 required" id="mce-ENTERPRISE">
                <option value="">Type d'entreprise</option>
                <option value="SaaS">SaaS</option>
                <option value="Startup (0-200 personnes)">Startup (0-200 personnes)</option>
                <option value="Scale-up (+100 personnes)">Scale-up (+100 personnes)</option>
                <option value="AE - Autoentrepreneur (&lt;10 personnes)">AE - Autoentrepreneur (&lt;10 personnes)</option>
                <option value="PME - Petite/Moyenne Entreprise (10-250 personnes)">PME - Petite/Moyenne Entreprise (10-250 personnes)</option>
                <option value="ETI - Entreprise de Taille Intermédiaire (250 - 4999 personnes)">ETI - Entreprise de Taille Intermédiaire (250 - 4999 personnes)</option>
                <option value="GE- Grande entreprise (&gt; 5000 personnes)">GE- Grande entreprise (&gt; 5000 personnes)</option>
              </select>
              <img class="c-img" src="/assets/img/up.svg" alt="">
            </div>
          </div>
          <div class="mc-field-group u-inline-center-lg-down">
              <div class="c-addon-container c-addon-container--rotate u-margin-t-16">
                <select name="JOB" class="c-form-control c-form-control--w280 required" id="mce-JOB">
                  <option value="">Job</option>
                  <option value="Développeur">Développeur</option>
                  <option value="Lead-dev / Tech-Lead">Lead-dev / Tech-Lead</option>
                  <option value="Architecte">Architecte</option>
                  <option value="Chief Engineering">Chief Engineering</option>
                  <option value="Chief Technical Officer (CTO)">Chief Technical Officer (CTO)</option>
                  <option value="Directeur Système d'Information (DSI)">Directeur Système d'Information (DSI)</option>
                </select>
                <img class="c-img" src="/assets/img/up.svg" alt="">
              </div>
          </div>
              <div id="mce-responses" class="clear">
                  <div class="response" id="mce-error-response" style="display:none"></div>
                  <div class="response" id="mce-success-response" style="display:none"></div>
              </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_918b217b438b04154b124a79d_db80d0af17" tabindex="-1" value=""></div>
              <div class="clear u-inline-center-lg-down">
                <div class="c-addon-container u-margin-t-40">
                  <input type="submit" value="Envoyer mes réponses" name="subscribe" id="mc-embedded-subscribe" class="c-button c-button--w280 c-button--full-width">
                  <img class="c-img" src="/assets/img/send.svg" alt="">
                </div>
              </div>
              </div>
          </form>
          </div>
          <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[5]='ENTERPRISE';ftypes[5]='dropdown';fnames[6]='JOB';ftypes[6]='dropdown';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
          <!--End mc_embed_signup-->
      </div>
      <div class="col-md justify-content-center flex-column d-flex">
        <img class="c-img u-margin-t-24-sm-down" src="/assets/img/illustration-header.png" srcset="/assets/img/illustration-header.png 1x, /assets/img/illustration-header@2x.png 2x, /assets/img/illustration-header@3x.png 3x" alt="">
      </div>
    </div>
  </section>

  <section id="summary" class="container u-margin-t-100">
    <h2 class="c-h2 u-inline-center u-underline">Sommaire</h2>

    <div class="row u-margin-t-100">
      <div class="col-md justify-content-center flex-column d-flex">
        <h3 class="c-h3 u-bullet u-bullet--blue">De la vie personnelle à la vision - 8848 m</h3>
        <p class="c-p u-margin-t-16">
          Quels principes pratiques respecter pour construire et affiner sa vision technologie et sa compréhension du marché tout en maintenant un équilibre entre un travail très prenant et sa vie personnelle ?
        </p>
        <h3 class="c-h3 u-bullet u-bullet--green u-margin-t-36">Du recrutement à la culture - 1000 m</h3>
        <p class="c-p u-margin-t-16">
          Peut importe la taille de l'entreprise, ces questions apparaissent.
          <br/>Comment et ou recruter et sourcer les bons profils ?
          <br/>Quel méthode de management ?
          <br/>Sur quel modèle organiser mon ou mes équipes ?
          <br/>Quelle culture tech insuffler à l'entreprise ?
        </p>
        <h3 class="c-h3 u-bullet u-margin-t-36">Du produit au développement - 100m</h3>
        <p class="c-p u-margin-t-16">
          Comment maintenir l'équilibre entre une roadmap produit parfois aggressive et la qualité des applications ?
          <br/>Quelle organisation et architecture pour assurer un delivery et donc un time-to-market agressif ?
          <br/>Quels grands principes de développement, d'infrastructure et d'architecture produit respecter pour assurer une pérénnité et une mise à l'échelle des développements des équipes ?
          <br/>Comment s'assurer, à l'échelle, du suivi des bonnes pratiques ?
        </p>
      </div>
      <div class="col-md justify-content-center flex-column d-flex">
        <img class="c-img" src="/assets/img/illustration-mountains.png" srcset="/assets/img/illustration-mountains.png 1x, /assets/img/illustration-mountains@2x.png 2x, /assets/img/illustration-mountains@3x.png 3x" alt="">
      </div>
    </div>

    <div class="row u-margin-t-32">
      <div class="col-md d-flex">
        <div class="c-card c-card--active flex-grow-1 u-margin-t-32">
          <img src="/assets/img/triangle.svg" alt="" class="c-img c-img--h48">
          <p class="c-p u-margin-t-24 u-inline-center u-large u-fweight-600">Du produit au développement </p>
          <ul class="c-list c-list--bullet u-margin-t-36">
            <li><p class="c-p">SSoT: Une source de vérité unique pour les gouverner</p></li>
            <li><p class="c-p">SoC: Séparer les intérêts</p></li>
            <li><p class="c-p">Faire le choix de noms ennuyeux</p></li>
            <li><p class="c-p">Tout limiter dans l'espace et dans le temps</p></li>
            <li><p class="c-p">…</p></li>
          </ul>
        </div>
      </div>
      <div class="col-md d-flex">
        <div class="c-card flex-grow-1 u-margin-t-32 u-margin-t-24-sm-down">
          <img src="/assets/img/round.svg" alt="" class="c-img c-img--h48">
          <p class="c-p u-margin-t-24 u-inline-center u-large u-fweight-600">Du recrutement à la culture </p>
          <ul class="c-list c-list--bullet c-list--green u-margin-t-36">
            <li><p class="c-p">Go for the edge</p></li>
            <li><p class="c-p">Insuffler la culture cible et la voir grandir</p></li>
            <li><p class="c-p">Montre-moi ton code, je te dirai qui tu es</p></li>
            <li><p class="c-p">Chercher les bons profils là où ils sont</p></li>
            <li><p class="c-p">…</p></li>
          </ul>
        </div>
      </div>
      <div class="col-md d-flex">
        <div class="c-card flex-grow-1 u-margin-t-32 u-margin-t-24-sm-down">
          <img src="/assets/img/losange.svg" alt="" class="c-img c-img--h48">
          <p class="c-p u-margin-t-24 u-inline-center u-large u-fweight-600">De la vie personnelle à la vision </p>
          <ul class="c-list c-list--bullet c-list--blue u-margin-t-36">
            <li><p class="c-p">Une action, 3 conséquences positives </p></li>
            <li><p class="c-p">Le ratio production/consommation</p></li>
            <li><p class="c-p">Choix technologique : X ou Y ?</p></li>
            <li><p class="c-p">Une action, 3 conséquences positives</p></li>
            <li><p class="c-p">…</p></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="c-card c-card--active u-margin-t-24">
      <div class="row">
        <div class="col-md justify-content-center flex-column d-flex">
          <img class="c-img" src="/assets/img/illustration.png" srcset="/assets/img/illustration.png 1x, /assets/img/illustration@2x.png 2x, /assets/img/illustration@3x.png 3x" alt="">
        </div>
        <div class="col-md justify-content-center flex-column d-flex u-margin-t-64-sm-down">
          <h3 class="c-h3 u-bullet u-bullet--out">Faire le choix des noms ennuyeux</h3>
          <p class="c-p u-margin-t-10">
            Le nommage doit être ennuyeux. Comme le disait Phil Karlton, il y a seulement deux choses difficiles en informatique : l'invalidation du cache et nommer les choses.
            <br/><br/>J'ajouterai que concernant le nommage, il doit être ennuyeux. Qu'il s'agisse d'une fonction, d'un (micro-)service ou d'un projet interne, son nom doit être transparent.
            <br/><br/>Pas de jargon ! Il faut qu'un stagiaire comprenne ce qu'il se passe dès son premier jour dans l'entreprise.
            <br/><br/>Le nom doit décrire ce que cela fait (e.g. "user-preference") et non ce que c'est (e.g. "api-preference", "preference api").
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="no-bullshit" class="container u-margin-t-100">
    <h2 class="c-h2 u-inline-center u-underline"> No bullshit ? </h2>

    <div class="row u-margin-t-100">
      <div class="col-md">
        <img class="c-img" src="/assets/img/illustratio-author.png" srcset="/assets/img/illustratio-author.png 1x, /assets/img/illustratio-author@2x.png 2x, /assets/img/illustratio-author@3x.png 3x" alt="">

        <div class="l-container-340">
          <p class="c-p u-large u-fweight-600 u-margin-t-24 u-inline-center-sm-down">L’auteur : François Guillaume Ribreau </p>
          <p class="c-p u-margin-t-8 u-inline-center-sm-down">Full Stack CTO, Startup/Corporation Tech Advisor, Hacker, Maker. </p>

          <div class="u-margin-t-24 d-flex justify-content-center justify-content-md-start">
            <a target="_blank" href="https://twitter.com/fgribreau" class="u-margin-r-24"><img src="/assets/img/twitter.svg" alt="" class="c-img c-img--w24"></a>
            <a target="_blank" href="https://fr.linkedin.com/in/francoisguillaumeribreau" class="u-margin-r-24"><img src="/assets/img/linkedin.svg" alt="" class="c-img c-img--w24"></a>
            <a target="_blank" href="https://github.com/fgribreau"><img src="/assets/img/github.svg" alt="" class="c-img c-img--w24"></a>
          </div>

          <p class="c-p u-large u-fweight-600 u-margin-t-32 u-underline u-underline--left">Indie hacker & Saas founder :</p>
          <p class="c-p u-margin-t-16">
            <a target="_blank" href="https://www.redsmin.com/" class="c-link">Redsmin</a> <br>
            Leader depuis 2012 de l'administration et du monitoring de serveurs Redis. <br>
            <br>
            <a target="_blank" href="https://www.image-charts.com/" class="c-link">Image charts</a> <br>
            Remplaçant de Google Image Charts depuis 2016, plus de deux millions de graphiques générés par mois.
          </p>

          <p class="c-p u-large u-fweight-600 u-margin-t-32 u-underline u-underline--left">CTO : </p>
          <p class="c-p u-margin-t-16">
            <a href="https://motiondynamic.tech" class="c-link">MotionDynamic</a> <br>
            <br>
            Ex-CTO de Bringr<br>
            Revendu en 2015 à iAdvize.
          </p>

          <p class="c-p u-large u-fweight-600 u-margin-t-32 u-underline u-underline--left">Consultant & conseiller :</p>
          <p class="c-p u-margin-t-16">
            Cognix-system <br>
            Oxmoto
          </p>

          <p class="c-p u-large u-fweight-600 u-margin-t-32 u-underline u-underline--left">Enseignant :</p>
          <p class="c-p u-margin-t-16">
            EPSI <br>
            Université de Nantes
          </p>

          <p class="c-p u-large u-fweight-600 u-margin-t-32 u-underline u-underline--left">Speaker : </p>
          <p class="c-p u-margin-t-16">
            BreizhCamp 2018-2019 <br>
            Devoxx 2019 <br>
            MixIT Lyon 2019 <br>
            Rivera Dev 2019 <br>
            Web2Day 2016-2017-2018-2019
          </p>
        </div>
      </div>

      <div class="col-md u-margin-t-80-sm-down">
        <div class="c-card c-card--large c-card--quote">
          <p class="c-p">
            A future « must have »  -No doubt, given the highest impact and relevance of François Guillaume’s keynotes !
          </p>
        </div>
        <div class="u-inline-center u-margin-t-24">
          <p class="c-p u-large u-fweight-600">Thierry Gaillet </p>
          <p class="c-p u-small u-margin-t-8">
            Director, <br>
            Orange Developper Relations
          </p>
        </div>

        <div class="c-card c-card--large c-card--quote u-margin-t-80">
          <p class="c-p">
            La vision, le leadership, le dynamisme et l'énergie de François-Guillaume sont bien au-delà de la mission attendue. <br>
            Ses compétences techniques lui assurent un grand crédit auprès de tous. <br>
            C'est un excellent manager qui apporte aux collaborateurs de son équipe communication, transparence, vision et technicité. <br>
            Il sait évaluer, recruter mais surtout recadrer quand c'est nécessaire, dans la bienveillance et le respect. J'espère avoir l'occasion de retravailler un jour avec lui !
          </p>
        </div>
        <div class="u-inline-center u-margin-t-24">
          <p class="c-p u-large u-fweight-600">Fabien Grellier </p>
          <p class="c-p u-small u-margin-t-8">
            ex-Chef de Service Numérique Ouest-France, <br>
            ex-Directeur Technique PagesJaunes.fr
          </p>
        </div>

        <div class="c-card c-card--large c-card--quote u-margin-t-80">
          <p class="c-p">
            François-Guillaume nous a accompagné dans notre projet de refonte d'architecture. Son expertise très pointue, combinée à une excellente pédagogie, lui ont permis de nous apporter des solutions adaptées à notre taille et à notre contexte. François-Guillaume a tous les modèles en tête, mais il ne cherche pas à les plaquer sur les situations qu'il analyse. Au contraire, il se projette dans la situation particulière de son client, et sait, par son approche très pragmatique, personnaliser ses conseils en s'adaptant aux moyens et aux capacités de chacun. Bravo !
          </p>
        </div>
        <div class="u-inline-center u-margin-t-24">
          <p class="c-p u-large u-fweight-600">Maxime Duprez</p>
          <p class="c-p u-small u-margin-t-8">
            DSI du groupe COMAP, <br>
            ex-DSI Olympique Lyonnais
          </p>
        </div>

        <p class="c-p u-large u-fweight-600 u-margin-t-100 u-inline-center-sm-down">
          Quelques vidéos valent milles mots :
        </p>
        <a target="_blank" href="https://www.youtube.com/watch?v=UKrS_eXZfHw&feature=youtu.be" class="u-block c-link c-link--icon-video c-link--yellow u-margin-t-24">Choisir entre une API RPC, SOAP, REST, GRAPHQL et si le problème était ailleurs ? </a>
        <a target="_blank" href="https://www.youtube.com/watch?v=1pXgqd064-4" class="u-block c-link c-link--icon-video c-link--yellow u-margin-t-24">#ChallengeAccepted Une plateforme moderne pour le groupe SIPA/Ouest-Fr… </a>
        <a target="_blank" href="https://www.youtube.com/watch?v=g6Yg2e1cDe8&feature=youtu.be" class="u-block c-link c-link--icon-video c-link--yellow u-margin-t-24">Construire et automatiser son SaaS grâce à une spécification Swagger </a>
      </div>
    </div>
  </section>

  <footer class="l-footer u-inline-center-sm-down">
    <div class="container">
      <div class="d-flex justify-content-between flex-column flex-lg-row">
        <div class="justify-content-center flex-column d-flex">
          <p class="c-p u-white u-inline-center-lg-down">
            Illustrations by Johannes Pekonen - All Right Reserved © <br>
            Design by <a href="https://www.behance.net/aliceha" class="c-link">Alice Habay</a> <br>
            Integration by <a href="https://github.com/KevinJaffre" class="c-link">Kevin Jaffre</a> &amp; <a href="https://augustin.ribreau.co/" class="c-link">Augustin Ribreau</a>
          </p>
        </div>

        <img src="/assets/img/footer_elements.svg" class="c-img l-footer__ele u-margin-t-40-lg-down" alt="">

        <div class="justify-content-center flex-column d-flex u-inline-center-lg-down u-margin-t-40-lg-down">
        </div>
      </div>
    </div>
  </footer>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="/assets/js/app.js?{{site.time | date: '%s%N'}}" charset="utf-8"></script>

</body>
</html>
